--- arch/powerpc/Kconfig
+++ arch/powerpc/Kconfig
@@ -140,6 +141,7 @@
 	select GENERIC_CLOCKEVENTS
 	select GENERIC_STRNCPY_FROM_USER
 	select GENERIC_STRNLEN_USER
+	select HAVE_PREEMPT_LAZY
 
 config EARLY_PRINTK
 	bool
